:root {
    --gold1: #8a7650;
    --gold2: #8b6914ea;
    --gold3: #9b8445e3;
    --gold4: #A8A8A8;
    --gold5: #afac87;
    --gold6: #b3b2a42a;
}

body {
    margin: 0;
    background: url("https://i.ibb.co/KTn8jz3/tvorceskii-abstraktnyi-zolotoi-teksturirovannyi-material.jpg") center/cover no-repeat fixed;
  }

/*start design header*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 0;
  background-color: var(--gold2);
  width: 100%;
  max-height: 7rem;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
 
}

@media (max-width: 790px) {
    #header {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  }
    #nav-bar {
      position: relative;
padding: 0;
top: -1rem;
left: 4rem;
  }
    #header-image {
      padding: 0;
      max-height: 4rem;
    }
}

#nav-bar {
padding-right: 2rem;
}

.nav-link {
padding: 0.5rem 0.5rem 0.3rem 0.5rem;
text-decoration: none;
color: black;
background: linear-gradient(var(--gold2), var(--gold3));
font-weight: 650;
}

.nav-link:hover {
  color: var(--gold2);
background: black;
box-shadow: 0 0 5px black;
transform: scale(1.1);
}

#header-img {
max-height: 6rem;
padding-left: 0.5rem;
}

body::before {
  display: block;
  content: "";
  height: 8rem;
}
/*end design header*/

main {
  padding: 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--gold3);
  width: 85%;
  margin: 0 auto 1rem;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
      font-family: georgia;
      font-weight: 500;
}

/*start design h1 & video & email*/
h1 {
  text-align: center;
  color: black;
font-size: 2.4rem;
font-weight: 549;
padding: 0.5rem;
margin: 4rem 0 2rem;
background: linear-gradient(var(--gold2), var(--gold1));
}

#video {
  display: block;
  margin: 1rem auto 2rem;
  width: 55%;
  min-width: 25rem;
  aspect-ratio: 16 / 9;
  border: 0.5rem double black;
}

#form {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 1rem 0;
}

h1, .cost h2 {
  border-top: 0.5rem double black;
  border-bottom: 0.5rem double black;
}

#form label {
  box-shadow: 0 0 5px;
  padding: 0.5rem;
  border-radius: 5px;
}

#email {
  background-color: var(--gold4);
  border-radius: 5px;
}

#email:hover {
  background-color: black;
}

#submit {
margin: 0 2rem;
background-color: var(--gold1);
box-shadow: 0 0 5px white;
border-radius: 5px;
padding: 0 1.2rem;
}

#submit:hover {
margin: 0 2rem;
background-color: black;
box-shadow: 0 0 5px white;
color: var(--gold1);
}
/*end design h1 & video & email*/

/*start design #features & #work*/
#features {
  border-top: 0.31rem double black;
  border-bottom: 0.31rem double black;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background: linear-gradient(transparent, #704b3a);
}

 #work {
  text-align: justify;
  margin: 1rem 3rem;
 }

#features h2 {
  text-align: center;
  background: radial-gradient(var(--gold5), var(--gold3));
  padding: 0.2rem 0;
}

#features h2, #work h3, #form {
  border-top: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
}

 #work h3, h4 {
  background: radial-gradient(circle at left, var(--gold5), var(--gold3));
  padding: 0.2rem 0.4rem;
 }

 #features p {
font-weight: 550;
padding: 0.2rem 1rem;
 }

 #work p {
  margin: 0 2rem;
  padding: 1rem;
  box-shadow: 3px 3px 5px var(--gold1);
 }

 #features p, #work p {
  background-color: var(--gold6);
  text-align: justify;
 }

ul > li {
  margin-bottom: 4rem;
 }
 /*end design #features & #work*/

 /*start design #price*/
 #price {
  display: flex;
 justify-content: space-evenly;
 gap: 2rem;
 margin-bottom: 4rem;
 flex-wrap: wrap;
 }

 .cost {
  flex: 1;
  text-align: justify;
  background: url("https://i.ibb.co/KTn8jz3/tvorceskii-abstraktnyi-zolotoi-teksturirovannyi-material.jpg");
  max-width: 18rem;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
 }

 
 .cost p {
  height: 7rem;
  background: radial-gradient(transparent, var(--gold3));
  padding: 0.3rem 1rem;
 }

 .cost h2 {
  margin-bottom: 2rem;
  padding: 0.3rem 1rem;
 }

 span {
  color: #6e2300;
  font-weight: 600;
  font-size: 2rem;
 }

 .cost:hover, button:hover {
  transform: scale(1.06);
  transition: 0.2s;
 }

 button {
display: block;
margin: 2rem auto;
width: 70%;
height: 2rem;
border-radius: 10px;
background: radial-gradient(white, var(--gold2));
letter-spacing: 0.2rem;
font-weight: 800;
box-shadow: 2px 2px 2px black;
 }

 button:hover {
  background: radial-gradient(var(--gold2), black);
  color: lightgreen;
 }
 /*end design #price*/

 footer {
  text-align: right;
  margin: 2rem;
 }

 footer a {
  margin: 0.5rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1px 3px;
 }

 footer a:hover {
  background-color: white;
 }