:root {
    --gold-rose: #8a7650;
    --gold-dark: #8B6914;
    --gold-rich: #9b977c;
    --gold-silver: #A8A8A8;
    --gold-charcoal: #725c1fd2;
}

body {
    margin: 0;
    background-color: var(--gold-charcoal);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 0;
  background-color: var(--gold-dark);
  width: 100vw;
  max-height: 7rem;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
}

#nav-bar {
padding-right: 2rem;
}

.nav-link {
padding: 0.5rem 0.5rem 0.3rem 0.5rem;
text-decoration: none;
color: black;
background: linear-gradient(var(--gold-dark), var(--gold-rose))
}

.nav-link:hover {
  color: var(--gold-dark);
background: black;
box-shadow: 0 0 5px black;
transform: scale(1.1);
}

#header-img {
max-height: 6rem;
padding-left: 0.5rem;
}


main {
  padding: 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--gold-rich);
  width: 90%;
  margin: 0 auto 1rem;
  border-top: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
}

#video {
  display:block;
  margin: 1rem auto 2rem;
  width: 55%;
  min-width: 25rem;
  aspect-ratio: 16 / 9;
  border: 0.5rem double black;
}

#form {
 display:block;
 margin: 0 auto;
}

#head {
  text-align: center;
  background: var(--gold-dark);
  color: black;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
 font-family: 'Playfair Display', serif;
font-style: italic;
font-weight: 400;
font-size: 2.2rem;
padding: 0.3rem;
margin: 4rem 0 2rem;
}

body::before {
  display: block;
  content: "";
  height: 8rem;
}